<template>
    <div class="alert alert-dismissible" :class="'alert-' + type" ref="alert" v-if="hasFlash">
        <p class="text-center">{{ message }}</p>
        <button class="btn-close"  data-bs-dismiss="alert" aria-label="close">&times;</button>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    name: 'FlashMessage',
    data() {
        return {
            timer: null
        }
    },
    computed: {
        ...mapGetters({
            message: 'flash/message',
            type: 'flash/type',
            hasFlash: 'flash/hasFlash',
            time: 'flash/time'
        })
    },  
    mounted() {
        if(this.hasFlash && this.time) {
            this.timer = setTimeout(() => {
                this.timer = null;
                this.$store.dispatch('flash/hide');
            }, this.time);
        }
    }
}
</script>