<template>
    <div class="col-3 mb-3">
        <div class="bg-light border border-secondary-subtle rounded p-2">
            <span class="d-block ">Players in game: {{ game.playersInGame }}</span>
            <span class="d-block">Max players: {{ game.maxPlayersInGame }}</span>
            <div class="d-flex justify-content-center">
                <button class="btn btn-success btn-sm w-50" :data-gameID="game.id" @click="joinGame(game.id)">join</button>
            </div>
            <div v-if="errors.hasOwnProperty('message')" class="alert alert-danger text-center mt-4" role="alert">
                {{ errors.message }}
            </div>
        </div>
    </div>
</template>

<script>

import { mapGetters } from 'vuex';

export default {
    namespaced: true,
    name: 'Game',
    props: [
        'game',
    ],
    data() {
        return {
            errors: {}
        }
    },
    computed: {
        ...mapGetters({
            error: 'game/error',
            hasError: 'game/hasError'
        })
    },
    methods: {
        async joinGame(gameID) {
            const response = await this.$store.dispatch('game/joinGame', gameID);

            if(!this.hasError) {
                this.$router.push({
                    name: response.hasStarted ? 'gameQuestion' : 'startGame',
                    params: { id: gameID }
                });
                return;
            }

            if(this.error.status === 422) {
                this.errors = this.error.data.errors;
            }
        }
    }
}
</script>
