<template>
    <div class="loader mx-auto" v-if="this.isLoading()"></div>
</template>

<script>
export default {
    name: 'LoadingSpinner',
    props: [
        'name'
    ],
    computed: {
        loading(){
            return this.$store.getters['loader/isLoading']
        }
    },
    methods: {
        isLoading() {
            return this.loading(this.name);
        }
    }
}
</script>

<style scoped>
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid rgb(44, 103, 163);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 
</style>