<template>

        <div :id="name" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" ref="modal">
            <div class="modal-dialog" >
              <div class="modal-content" v-if="isOpen">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ title }}</h5>
                    <button type="button" class="btn-close" aria-label="Close" @click="close"></button>
                </div>
                <div class="modal-body">
                    <slot name="body">
                        ...
                    </slot>
                </div>
                <div class="modal-footer">
                    <slot name="footer">
                        <button type="button" class="btn btn-secondary" @click="close">Close</button>
                    </slot>
                </div>
              </div>
            </div>
          </div>

</template>

<script>
export default {
    props: [
        'title',
        'name'
    ],
    computed: {
        isOpen() {
            return this.$store.getters['modal/isOpen'](this.name);
        }
    },
    watch: {
        isOpen (newValue, oldValue) {
            if(newValue)
                this.$refs.modal.addEventListener('hidden.bs.modal', () => {
                    this.$store.dispatch('modal/close', this.name)
                    this.$emit('close');
                });
        }
    },
    methods: {
        close() {
            this.$store.dispatch('modal/close', this.name);
        }
    },
    unmounted() {
        if(this.isOpen)
            this.close(this.name);
    }
};
</script>
