<template>
    <form @submit.prevent="handlePrepareGame" id="prepareGameForm">
      <div class="form-row mb-2">
          <label for="gameMode" class="form-label">Select mode</label>
          <select id="gameMode" class="form-select" v-model="gameMode" :class="{'is-invalid': errors.hasOwnProperty('gameMode') === true}">
              <option v-for="currentGameMode in gameModes" :key="currentGameMode" :value="currentGameMode">{{ capitalized(currentGameMode) }}</option>
          </select>
          <div class="invalid-feedback" v-if="errors.hasOwnProperty('gameMode')">{{ errors.gameMode }}</div>
      </div>

      <div class="mb-2">
          <label for="playersAllowed" class="form-label">Players allowed</label>
          <select id="playersAllowed" class="form-select" v-model="allowedPlayersCount" :class="{'is-invalid': errors.hasOwnProperty('playersAllowed')}">
              <option v-for="index in 3" :key="index" :value="index + 1" :selected="index === 0 ? true : false">{{ index + 1 }}</option>
          </select>
          <div class="invalid-feedback" v-if="errors.hasOwnProperty('playersAllowed')">{{ errors.playersAllowed }}</div>
      </div>
    </form>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
    namespaced: true,
    name: 'PrepareGameForm',
    data() {
        return {
            gameModes: ['multiplayer', 'singleplayer'],
            gameMode: 'multiplayer',
            allowedPlayersCount: 2,
            errors: {}
        }
    },
    computed: {
        ...mapGetters({
            hasError: 'game/hasError',
            error: 'game/error'
        })
    },
    methods: {
        capitalized(value) {
          return value[0].toUpperCase() + value.slice(1);
        },
        async handlePrepareGame() {
            this.errors = {};

            const response = await this.$store.dispatch('game/prepareGame', {
                gameMode: this.gameMode,
                playersAllowed: this.allowedPlayersCount
            });

            if(!this.hasError) {
                this.$router.push({
                    name: 'startGame',
                    params: {id: response.gameID}
                });
                return;
            }

            if(this.error.status === 422) {
                this.errors = this.error.data.errors;
            }
        }
    }
}
</script>
