<template>
    <form v-if="question" @submit.prevent="handleAnswerQuestion" :data-id="question.id" class="mx-auto w-50 bg-white rounded border-1 p-3 mt-5">
        <p class="h5">{{ question.question }}</p>
        <div
        class="mb-2 d-flex align-content-center gap-2 p-2 rounded bg-light border border-secondary-subtle"
        v-for="answer in question.answers" :key="answer.id"  >
            <input ref="answers" type="checkbox" :value="answer.id" name="answers[]" v-model="selectedAnswers" :id="answer.id" class=" form-check-input">
            <label :for="answer.id" class="custom-control-label flex-fill">{{ answer.answer}}</label>
        </div>

        <slot></slot>
    </form>
</template>

<script>
export default {
    name: 'Question',
    props: [
        'question'
    ],
    data() {
        return {
            selectedAnswers: []
        }
    },
    watch: {
        '$route'(to, from) {
            this.selectedAnswers = [];
        }
    },
    methods: {
        handleAnswerQuestion() {
            this.$emit('answerQuestion', this.selectedAnswers);
        },
        resetSelectedAnswers() {
            this.selectedAnswers = [];
        }
    }
}
</script>
