<template>
    <form @submit.prevent="handleStartTraining" id="strtTrainingForm">
        <LoadingSpinner name="get/categories"></LoadingSpinner>

        <div v-if="errors.hasOwnProperty('message')" class="alert alert-danger text-center" role="alert">
            {{ errors.message }}
        </div>

        <div v-else-if="errors.hasOwnProperty('categoryIDs')" class="alert alert-danger text-center" role="alert">
            {{ errors.categoryIDs }}
        </div>

        <div v-for="category in categories" :key="category.id">
            <div class="form-check">
                <input type="checkbox" :id="category.id" name="categories[]" class="form-check-input" :value="category.id" v-model="selectedCategoryIDs"/>
                <label class="form-check-label" :for="category.id">{{ category.name }}</label>
            </div>
        </div>
    </form>
</template>

<script>
import { mapGetters } from 'vuex';
import LoadingSpinner from "./LoadingSpinner.vue";
import { toRaw } from 'vue';

export default {
    namespaced: true,
    name: 'StartTrainingForm',
    components: {
        LoadingSpinner
    },
    data() {
        return {
            selectedCategoryIDs: [],
            errors: {}
        }
    },
    computed: {
        ...mapGetters({
            hasError: 'training/hasError',
            error: 'training/error',
            categories: 'category/categories',
            isLoading: 'loader/isLoading'
        }),
        selectedCategories() {
            return toRaw(this.categories).filter((category) => {
                return this.selectedCategoryIDs.includes(category.id);
            });
        }
    },
    created() {
        if(this.categories.length === 0) {
            this.$store.dispatch("category/fetchCategories");
        }
    },
    methods: {
        async handleStartTraining() {

            const response = await this.$store.dispatch('training/startTraining', {
                categoryIDs: this.selectedCategoryIDs,
                categories: this.selectedCategories
            });

            if(this.hasError) {
                const error = this.error.data;

                error.hasOwnProperty('errors')
                    ? this.errors = error.errors
                    : this.errors = error;
                return;
            }

            this.$router.push({
                name: 'trainingQuestion',
                params: {trainingID: response.trainingID, levelID: response.levelID}
            });
        }
    }
}
</script>
