<template>
    <div class="p-3 bg-light border rounded mb-4">
        <div class="row align-items-center">
            <div class="col-10 mb-3">
                <p class="text-secondary h5">Gestartet am: {{ startTime.toLocaleString() }}</p>
                <p class="text-secondary h5" v-if="hasEnded">Beendet am {{ endTime.toLocaleString() }}</p>
                <p class="text-secondary h5" v-else>Endet um {{ endTime.toLocaleString() }}</p>

                <div class="progress" v-if="hasEnded">
                    <div class="progress-bar bg-success" role="progressbar" :style="`width: ${test.correctAnsweredProcent}%`" :aria-valuenow="test.correctAnsweredProcent" aria-valuemin="0" :aria-valuemax="100">{{ test.correctAnsweredProcent }}</div>
                    <div class="progress-bar bg-danger" role="progressbar" :style="`width: ${procentWrongAnswered}%`" :aria-valuenow="procentWrongAnswered" aria-valuemin="0" :aria-valuemax="100">{{ procentWrongAnswered }}</div>
                </div>

                <button v-else @click="continueTest" class="btn btn-success">Test fortfahren</button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Test',
    props: [
        'test'
    ],
    computed: {
        procentWrongAnswered() {
            return 100 - this.test.correctAnsweredProcent;
        },
        startTime() {
            return new Date(this.test.createdAt);
        },
        endTime() {
            return new Date(this.test.endTime);
        },
        hasEnded() {
            if(new Date().getTime() >= this.endTime.getTime() || this.test.answeredQuestionsCount == this.test.totalQuestionsCount) {
                return true;
            }

            return false;
        },
        continueTest() {
            this.$router.push({
                name: 'testQuestion',
                params: { id: this.test.id }
            });
        }
    }
}
</script>
