<template>
  <div class="text-center mt-4">
    <span class="h5">Time left: {{ timeAvailable }}</span>
  </div>
</template>

<script>

export default {
  name: 'Timer',
  props: [
    'endTime'
  ],
  data() {
    return {
      interval: null,
      timeAvailable: '',
    };
  },
  watch: {
    endTime() {
      if(!this.interval) {
        this.startTimer();
      }
    }
  },
  computed: {
    timeLeft() {
        return Date.parse(this.endTime) - Date.parse(new Date());
    },
  },
  methods: {
    updateTime() {
    const timeLeft = Date.parse(this.endTime) - Date.now();
    if (timeLeft <= 0) {
      clearInterval(this.interval);
      this.interval = null;
      this.timeAvailable = '0:00';
      this.$emit('finished');
      return;
    }

    const minutes = Math.floor((timeLeft / 1000 / 60) % 60);
    const seconds = Math.floor((timeLeft / 1000) % 60);

    this.timeAvailable = `${String(minutes).padStart(2, '0')}:${String(seconds).padStart(2, '0')}`;
  },
  startTimer() {
    this.updateTime();
    this.interval = setInterval(this.updateTime, 1000);
  },
  },
  mounted() {
    this.startTimer();
  },
  beforeDestroy() {
    clearInterval(this.interval);
  }
}
</script>
