<template>
    <div class="p-3 bg-light border rounded mb-4">
        <ul class="list-group list-group-horizontal mb-3">
            <li class="list-group-item text-secondary" v-for="category in training.categories" :key="category.id">
                {{ category.name }}
            </li>
        </ul>

        <div class="row align-items-center" v-for="level in training.levels" :key="level.id">
            <div class="col-10 mb-3">
                <h1 class="text-secondary h5">{{ level.name }}</h1>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" :style="'width:' + level.questionsAnsweredProcent + '%;'" :aria-valuenow="level.questionsAnsweredProcent" aria-valuemax="100">{{ level.questionsAnsweredProcent }}%</div>
                    <div class="progress-bar bg-danger" role="progressbar" :style="'width:' + level.questionsLockedProcent + '%;'"  :aria-valuemin="level.questionsLockedProcent" aria-valuemax="100">{{ level.questionsLockedProcent }}%</div>
                    <div class="progress-bar bg-warning" role="progressbar" :style="'width:' + level.questionsInLevelProcent + '%;'"  :aria-valuemin="level.questionsInLevelProcent" aria-valuemax="100">{{ level.questionsInLevelProcent }}%</div>
                </div>
            </div>

            <div class="col-2">
                <button class="btn btn-primary btn-sm" :class="{ 'btn-outline-secondary': level.questionsInLevelProcent === 0, 'btn-primary': level.questionsInLevelProcent !== 0 }" :data-levelID="level.id" :data-trainingID="training.id" :data-questionID="level.nextQuestionID" :disabled="level.questionsInLevelProcent === 0" @click="continueLevel">Level fortsetzen</button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    namespaced: true,
    name: 'Training',
    props: [
        'training',
    ],
    methods: {
        continueLevel(e) {
            const clickedButtonDataAttributes = e.target.dataset;

            this.$router.push({
                name: 'trainingQuestion',
                params: {
                    trainingID: clickedButtonDataAttributes.trainingid,
                    levelID: clickedButtonDataAttributes.levelid
                }
            });
        }
    }
}
</script>
