@import "~bootstrap/scss/bootstrap";
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}

body {
    margin-bottom: 60px;
    background-color: lightgray;
}

html {
    position: relative;
    min-height: 100%;
}
