<template>
    <form @submit.prevent="handleLogin" class="mx-auto w-50 bg-white rounded border-1 p-3 mt-5">
        <h1 class="text-primary text-center">Login</h1>

        <FlashMessage></FlashMessage>

        <div v-if="errors.hasOwnProperty('invalidCredentials')" class="alert alert-danger text-center" role="alert">
            {{ errors.invalidCredentials }}
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">E-Mail:</label>
            <input type="text" name="email" id="email" placeholder="E-Mail" class="form-control" v-model="email" :class="{'is-invalid': errors.hasOwnProperty('email')}">
            <div class="invalid-feedback" v-if="errors.hasOwnProperty('email')">{{ errors.email }}</div>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Passwort:</label>
            <input type="password" name="password" id="password" placeholder="Passwort" class="form-control" v-model="password" :class="{'is-invalid': errors.hasOwnProperty('password')}">
            <div class="invalid-feedback" v-if="errors.hasOwnProperty('password')">{{ errors.password }}</div>
        </div>

        <button type="submit" class="btn" :class="{ 'btn-outline-secondary': isLoading, 'btn-primary': !isLoading }" :disabled="isLoading">login</button>
        
        <div class="d-flex">
            <LoadingSpinner name="post/users/login"></LoadingSpinner>
        </div>
    </form>
</template>

<script>
import FlashMessage from '../../components/FlashMessage.vue';
import LoadingSpinner from "../../components/LoadingSpinner.vue";
import {mapGetters} from 'vuex';

export default {
    name: 'Login',
    components: {
        LoadingSpinner,
        FlashMessage
    },
    data() {
        return {
            email: '',
            password: '',
            errors: {}
        }
    },
    computed: {
        ...mapGetters({
            hasError: 'auth/hasError',
            error: 'auth/error',
            loading: 'loader/isLoading'
        }),
        isLoading() {
            return this.loading('post/login');
        }
    },
    methods: {
        async handleLogin() {
            await this.$store.dispatch("auth/login", {
                email: this.email,
                password: this.password
            });

            if(!this.hasError) {
                this.$router.push({name: 'home'});
            }
            else if(this.error.status === 422) {
                this.errors = this.error.data.errors;
            }
            else if(this.error.status === 401) {
                this.errors.invalidCredentials = this.error.data.message;
            }
        }
    }
}   
</script>