<template>
    <form @submit.prevent="handleSignUp" class="mx-auto w-50 bg-white rounded border-1 p-3 mt-5" novalidate>
        <h1 class="text-primary text-center">Register</h1>
        <div class="mb-3">
            <label for="firstname" class="form-label required">Vorname</label>
            <input type="text" id="firstname" name="firstname" placeholder="Vorname" required="required" class="form-control" v-model="firstname" :class="{'is-invalid': errors.hasOwnProperty('firstname')}"/>
            <div class="invalid-feedback" v-if="errors.hasOwnProperty('firstname')">{{ errors.firstname }}</div>
        </div>
        <div class="mb-3">
            <label for="lastname" class="form-label required">Nachname</label>
            <input type="text" id="lastname" name="lastname" placeholder="Nachanem" required="required" class="form-control" v-model="lastname" :class="{'is-invalid': errors.hasOwnProperty('lastname')}"/>
            <div class="invalid-feedback" v-if="errors.hasOwnProperty('lastname')">{{ errors.lastname }}</div>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label required">Username</label>
            <input type="text" id="username" name="username" placeholder="Username" required="required" class="form-control" v-model="username" :class="{'is-invalid': errors.hasOwnProperty('username')}"/>
            <div class="invalid-feedback" v-if="errors.hasOwnProperty('username')">{{ errors.username }}</div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label required">E-Mail</label>
            <input type="email" id="email" name="email" required="required" placeholder="E-Mail" class="form-control" v-model="email" :class="{'is-invalid': errors.hasOwnProperty('email')}"/>
            <div class="invalid-feedback" v-if="errors.hasOwnProperty('email')">{{ errors.email }}</div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label required">Passwort</label>
            <input type="password" id="password" name="password" required="required" placeholder="Passwort" autocomplete="new-password" class="form-control" v-model="password" :class="{'is-invalid': errors.hasOwnProperty('password')}"/>
            <div class="invalid-feedback" v-if="errors.hasOwnProperty('password')">{{ errors.password }}</div>
        </div>
        <div class="mb-3">
            <label for="passwordRepeat" class="form-label required">Passwort Wiederholen</label>
            <input type="password" id="passwordRepeat" name="passwordRepeat" required="required" placeholder="Passwort" autocomplete="new-password" class="form-control" v-model="passwordRepeat" :class="{'is-invalid': errors.hasOwnProperty('passwordRepeat')}"/>
            <div class="invalid-feedback" v-if="errors.hasOwnProperty('passwordRepeat')">{{ errors.passwordRepeat }}</div>
        </div>
        <button type="submit" class="btn" :class="{ 'btn-outline-secondary': isLoading, 'btn-primary': !isLoading }" :disabled="isLoading">registrieren</button>

        <div class="d-flex">
            <LoadingSpinner name="post/users/register"></LoadingSpinner>
        </div>
    </form>
</template>

<script>
import LoadingSpinner from '../../components/LoadingSpinner.vue'
import {mapGetters} from 'vuex';

export default {
    name: 'SignUp',
    components: {
        LoadingSpinner
    },
    data() {
        return {
            firstname: '',
            lastname: '',
            username: '',
            email: '',
            password: '',
            passwordRepeat: '',
            errors: {}
        }
    },
    computed: {
        ...mapGetters({
            hasError: 'auth/hasError',
            error: 'auth/error',
            loading: 'loader/isLoading'
        }),
        isLoading() {
            return this.loading('post/users/register');
        }
    },
    methods: {
        async handleSignUp() {
            await this.$store.dispatch("auth/signUp", {
                firstname: this.firstname,
                lastname: this.lastname,
                email: this.email,
                username: this.username,
                password: this.password,
                passwordRepeat: this.passwordRepeat
            });

            if(!this.hasError) {
                 this.$store.dispatch('flash/show', {
                    message: 'Du hast dich erfolgreich registriert und kannst dich nun einloggen.',
                    type: 'success',
                    time: 8000
                });

                this.$router.push({name: 'login'});
            }
            else if(this.error.status === 422) {
                this.errors = this.error.data.errors;
                return;
            }
        }
    }

}
</script>
