<template>
  <form @submit.prevent="handleUpdateImage" enctype="multipart/form-data" class="mx-auto w-50 bg-white rounded border-1 p-3 mt-5" ref="form">
    <h2 class="text-primary text-center">Avatar bearbeiten</h2>

    <FlashMessage></FlashMessage>

    <div class="mb-3">
      <label for="avatar" class="form-label">Avatar</label>
      <input type="file" id="avatar" name="avatar" class="form-control" @change="setAvatar" :class="{'is-invalid': errors.hasOwnProperty('avatar')}"/>
      <div class="invalid-feedback" v-if="errors.hasOwnProperty('avatar')">{{ errors.avatar }}</div>
    </div>

    <button class="btn btn-primary">bearbeiten</button>
  </form>
</template>

<script>
import FlashMessage from '../../components/FlashMessage.vue';
import { mapGetters } from 'vuex';

export default {
    namespaced: true,
    name: 'UploadAvatar',
    components: {
      FlashMessage
    },
    data() {
        return {
          errors: {}
        }
    },
    computed: {
      ...mapGetters({
        hasErrors: 'auth/hasError',
        error: 'auth/error'
      })
    },
    methods: {
        async handleUpdateImage() {
            this.errors = {};

            const formData = new FormData(this.$refs.form);

            await this.$store.dispatch('auth/uploadAvatar', formData);

            if(this.hasErrors) {
              this.errors = this.error.data.errors;
              return;
            }
            else {
              this.$store.dispatch('flash/show', {
                message: 'Dein Avatar wurde erfolgreich aktualiesiert',
                type: 'success',
                time: 10
              });
            }
        }
    }
}
</script>
