<template>
    <div class="container-fluid my-4">

        <button v-if="hasTrainings" type="button" class="btn btn-primary mb-4" @click="showStartTrainingModal">
            Neues Training starten
        </button>

        <Modal ref="traininModal" title="Neues Training Starten" :key="modalKey" :name="modalName" @close="modalKey++">
            <template v-slot:body>
                <StartTrainingForm></StartTrainingForm>
            </template>

            <template v-slot:footer>
                <button type="submit" class="btn btn-primary" form="strtTrainingForm">starten</button>
            </template>
        </Modal>

        <ul class="list-group w-25 mb-4" v-if="hasTrainings && !isLoading">
            <li class="list-group-item">
                <FontAwesomeIcon icon="fa-circle" class="text-success"></FontAwesomeIcon>
                Richtig beantwortete Fragen
            </li>
            <li class="list-group-item">
                <FontAwesomeIcon icon="fa-circle" class="text-warning"></FontAwesomeIcon>
                Noch nicht beantwortete Fragen
            </li>
            <li class="list-group-item">
                <FontAwesomeIcon icon="fa-circle" class="text-danger"></FontAwesomeIcon>
                Gesperrte Fragen
            </li>
        </ul>

        <LoadingSpinner name="get/trainings"></LoadingSpinner>

        <div v-if="!hasTrainings && !isLoading" class="row col">
            No trainings
        </div>

        <div v-else v-for="training in trainings" :key="training.id" class="mb-4">
            <Training :training="training"/>
        </div>
    </div>

</template>

<script>
import Training from '../../components/Training.vue'
import Modal from '../../components/Modal.vue'
import StartTrainingForm from '../../components/StartTrainingForm.vue'
import LoadingSpinner from "../../components/LoadingSpinner.vue";
import { mapGetters } from 'vuex';

export default {
    namespaced: true,
    name: 'TrainingList',
    components: {
        Training,
        StartTrainingForm,
        LoadingSpinner,
        Modal
    },
    data() {
        return {
            modalName: 'startTraining',
            modalKey: 0
        }
    },
    computed: {
        ...mapGetters({
            loading: 'loader/isLoading',
            hasTrainings: 'training/hasTrainings',
            trainings: 'training/trainings'
        }),
        isLoading() {
            return this.loading('get/trainings');
        }
    },
    created() {
        this.fetchTrainings();
    },
    methods: {
        showStartTrainingModal() {
            this.$store.dispatch('modal/open', this.modalName);
        },
        fetchTrainings() {
            if(!this.hasTrainings) {
                this.$store.dispatch('training/fetchTrainings');
            }
        }
    }
}
</script>
