<template>
    <div>
        <div v-if="error && error.hasOwnProperty('answers')" class="mx-auto w-50 mt-4 alert alert-danger text-center" role="alert">
            {{ error.answers }}
        </div>

        <Question @answerQuestion="handleAnswerQuestion" ref="question" :question="currentQuestion">
            <button v-if="!hasAnswerd" class="btn btn-primary">antworten</button>
            <button type="button" v-if="hasAnswerd" class="btn btn-success" @click="redirectToNextQuestion()">weiter</button>
        </Question>
    </div>
</template>

<script>
import Question from '../../components/Question.vue';
import { mapGetters } from 'vuex';

export default {
    name: 'TrainingQuestion',
    data() {
        return {
            currentQuestion: null,
            isCorrect: null,
            correctAnswers:  [],
            error: null
        }
    },
    components: {
        Question
    },
    computed: {
        ...mapGetters({
            hasError: 'training/hasError',
            trainingError: 'training/error',
            hasQuestions: 'training/hasQuestions',
            nextQuestion: 'training/getNextQuestion'
        }),
        hasAnswerd() {
            return this.correctAnswers.length > 0;
        }
    },
    async created() {
        this.fetchNextQuestionsForLevel();
    },
    methods: {
        async fetchNextQuestionsForLevel() {
            if(!this.hasQuestions(this.$route.params.levelID)) {
                await this.$store.dispatch('training/fetchQuestionForLevel', {
                    levelID: this.$route.params.levelID,
                    trainingID: this.$route.params.trainingID
                });
            }

            const nextQuestion = this.nextQuestion(this.$route.params.levelID);

            if(!nextQuestion) {
                this.$router.push({name: 'trainings'});
            }

            this.currentQuestion = nextQuestion;
        },
        async handleAnswerQuestion(answers) {
            this.resetData();

            const answerTrainingRequest = {
                trainingID: this.$route.params.trainingID,
                levelID: this.$route.params.levelID,
                questionID: this.currentQuestion.id,
                answers: answers
            };

            const response = await this.$store.dispatch('training/answerQuestion', answerTrainingRequest);

            if(this.hasError && this.trainingError.status === 422) {
                this.error = this.trainingError.data.errors;
                return;
            }

            this.isCorrect = response.isCorrect;
            this.correctAnswers = Object.values(response.correctAnswerIDs);

            this.showAnswerCorrectness();
        },
        redirectToNextQuestion() {
            if(!this.hasAnswerd) return;

            this.resetData();

            this.fetchNextQuestionsForLevel();

            this.$refs.question.resetSelectedAnswers();
        },
        showAnswerCorrectness() {
            this.$refs.question.$refs.answers.map((answer) => {
                const answerContainer = answer.parentNode;

                answerContainer.classList.remove('bg-light');

                (Object.values(this.correctAnswers).includes(answer.value))
                    ? answerContainer.classList.add('bg-success-subtle')
                    : answerContainer.classList.add('bg-danger-subtle');
            });
        },
        resetData() {
            this.error = [];
            this.isCorrect = false;
            this.correctAnswers = [];
        }
    }
}
</script>
