<template>
    <div v-if="game">
        <div class="row">
            <div v-for="player in game.players" :key="player.id" class="col-3">
                <img :src="player.avatar" alt="Profilbild">
                <p>{{ player.username }}</p>
                <p>{{ player.score }}</p>
            </div>
        </div>

        <div v-if="errors && errors.hasOwnProperty('answers')" class="mx-auto w-50 mt-4 alert alert-danger text-center" role="alert">
            {{ errors.answers }}
        </div>

        <Question @answerQuestion="handleAnswerQuestion" ref="question" :question="nextQuestion(user.id)">
            <button class="btn btn-primary">antworten</button>
        </Question>

        <Timer :endTime="answeredAt" @finished="handleAnswerQuestion(['1'])"></Timer>
    </div>
</template>

<script>

import { mapGetters } from 'vuex';
import Question from '../../components/Question.vue';
import Timer from '../../components/Timer.vue';

export default {
    name: 'GameQuestion',
    components: {
        Question,
        Timer
    },
    data() {
        return {
            errors: {}
        };
    },
    computed: {
        ...mapGetters({
            hasError: 'game/hasError',
            error: 'game/error',
            game: 'game/getGame',
            hasQuestions: 'game/hasQuestions',
            nextQuestion: 'game/getNextQuestion',
            hasPlayerFinishedGame: 'game/hasPlayerFinishedGame',
            user: 'auth/getUser'
        }),
        gameID() {
            return this.$route.params.id ?? null;
        },
        answeredAt() {
            let date = new Date();
            date.setSeconds(date.getSeconds() + 41);

            if(!this.game?.players) {
                return date;
            }

            const player = this.game.players.find(playerInGame => playerInGame.id === this.user.id);

            return player?.answeredAt ?? date;
        }
    },
    async created() {
        await this.fetchPlayingGame();

        if(!this.$socket.connected) {
            this.$socket.connect();
        }

        this.$socket.emit('joinRoom', `${this.$route.params.id}-game`);
    },
    unmounted() {
        this.$socket.emit('leaveRoom', `${this.$route.params.id}-game`);
    },
    methods: {
        async fetchPlayingGame() {
            if(this.hasPlayerFinishedGame(this.user.userID)) {
                this.$router.push({name:'gameResult', params: { id: this.gameID }});
                return;
            }

            if(this.hasQuestions) {
                return;
            }

            const response = await this.$store.dispatch('game/fetchPlayingGame', {gameID: this.gameID, player: this.user});

            if(!response) this.$router.push({name:'games'});
        },
        async handleAnswerQuestion(answers) {
            this.errors = {};
            this.$refs.question.resetSelectedAnswers();
            const userID = this.user.id;

            await this.$store.dispatch('game/answerQuestion', {
                gameID: this.gameID,
                questionID: this.nextQuestion(userID).id,
                answers: answers
            });

            if(!this.hasError && this.hasPlayerFinishedGame(userID)) {
                this.$router.push({name:'gameResult', params: { id: this.gameID }});
            }
            else if(this.hasError && this.error.status === 422) {
                this.errors = this.error.data.errors;
            }
        }
    }
}
</script>
