<template>
    <table v-if="hasGame" class="table w-75 mx-auto mt-4">
        <thead class="thead-dark">
          <tr>
            <th scope="col-auto">User</th>
            <th scope="col-auto">Score</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="player in game.players" :key="player.id">
            <td v-if="player.round === 10" class="col-auto align-content-center">
                <img :src="player.avatar" alt="Profilbild">
                <span class="mx-3">{{ player.username }}</span>
            </td>
            <td v-if="player.round === 10" class="col-auto align-content-center">{{ player.score  }}</td>
          </tr>
        </tbody>

        <RouterLink :to="{name:'games'}"><button class="btn btn-primary my-3">Neues Spiel suchen</button></RouterLink>
    </table>
</template>

<script>
import { mapGetters } from 'vuex';
import LoadingSpinner from '../../components/LoadingSpinner.vue';

export default {
    namespaced: true,
    name: 'gameResult',
    components: {
        LoadingSpinner
    },
    data() {
        return {
            errors: {}
        }
    },
    computed: {
        ...mapGetters({
            game: 'game/getGame',
            hasGame: 'game/hasGame',
            currentUser: 'auth/getUser',
            hasError: 'game/hasError',
            error: 'game/error'
        })
    },
    async created() {
        this.fetchGame();

        if(!this.$socket.connected)
            this.$socket.connect();

        this.$socket.emit('joinRoom', `${this.$route.params.id}-finishedGame`);
    },
    beforeUnmount() {
        this.$socket.emit('leaveRoom', `${this.$route.params.id}-finishedGame`);
    },
    methods: {
        async fetchGame() {
            if(this.hasGame) {
                return;
            }

            const response = await this.$store.dispatch('game/fetchSearchingGame', {
                gameID: this.$route.params.id,
                status: 'started'
            });

            console.log(this.hasGame);
            if(!response) {
                this.$router.push({name: 'games'});
            }
        }
    }
}
</script>
