<template>
  <div class="container-fluid">

        <Modal title="Neues Spiel vorbereiten" :name="modalName" :key="modalKey" @close="modalKey++;">
            <template v-slot:body>
                <PrepareGameForm></PrepareGameForm>
            </template>

            <template v-slot:footer>
                <button type="submit" class="btn btn-primary" form="prepareGameForm">Neues Spiel starten</button>
            </template>
        </Modal>

        <button class="btn btn-primary my-4" @click="openPrepareGameModal">Neues Spiel starten</button>

        <div v-if="!hasGames" class="row col">
            <p>Aktuell sind keine Spiele verfügbar</p>
        </div>

        <div class="row mb-4" v-else>
            <Game v-for="game in games" :key="game.id" :game="game"></Game>
        </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import Game from '../../components/Game.vue';
import Modal from '../../components/Modal.vue';
import PrepareGameForm from '../../components/PrepareGameForm.vue';

export default {
    name: 'GameList',
    components: {
        Game,
        PrepareGameForm,
        Modal
    },
    data () {
        return {
            socketRoomToConnect: 'playersSearchingGame',
            modalName: 'prepareGame',
            modalKey: 0
        };
    },
    computed: {
        ...mapGetters({
            hasGames: 'game/hasGames',
            games: 'game/games',
            hasError: 'game/hasError',
            error: 'game/error',
            isOpen: 'modal/isOpen'
        })
    },
    async created() {
        await this.$store.dispatch('game/fetchSearchingGames');

        if(!this.$socket.connected) {
            this.$socket.connect();
        }

        this.$socket.emit('joinRoom', this.socketRoomToConnect);
    },
    beforeUnmount() {
        this.$socket.emit('leaveRoom', this.socketRoomToConnect);
    },
    methods: {
        openPrepareGameModal() {
            this.$store.dispatch('modal/open', this.modalName);
        }
    }
};
</script>
