<template>
  <div class="w-50 mx-auto mt-4" v-if="hasGame">

    <div class="row mt-1 text-center gap-3 mb-4">
        <div class="col border border-1 border-dark-subtle rounded bg-light py-2">
            <strong class="h4">Aktuelle Spieleranzal: {{ game.playersInGame }}</strong>
        </div>
        <div class="col rounded bg-light py-2">
            <strong class="h4">Maximale Spieleranzal: {{ game.maxPlayersInGame }}</strong>
        </div>
    </div>

    <div class="row justify-content-between my-4">
      <div class="col-auto mr-auto">
        <button
        class="btn"

        :class="{
          'btn-outline-secondary': !isMinPlayersCountReached,
          'btn-success': isMinPlayersCountReached
        }"
        v-if="isHost"
        @click="handleStartGame">
          starten
      </button>
      </div>

      <div class="col-auto">
        <button @click="handleLeaveGame" class="col btn btn-danger">leaveGame</button>
      </div>
    </div>

    <div v-if="errors.hasOwnProperty('message')" class="alert alert-danger text-center mt-4" role="alert">
      {{ errors.message }}
    </div>

    <div class="text-center h3 text-secondary my-4">
        <p class="h3 text-secondary">Wartet auf Spieler</p>
        <LoadingSpinner name="game_waitingForPlayers" class="mt-2"></LoadingSpinner>
    </div>

    <ul class="list-group mb-3">
        <li class="list-group-item" v-for="player in game.players" :key="player.id">
            <div class="row">
                <div class="col">
                    <img :src="player.avatar" alt="Profile Img">
                </div>

                <div class="col text-end my-auto h4">
                    {{ player.username }}
                </div>
            </div>
        </li>
    </ul>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import LoadingSpinner from '../../components/LoadingSpinner.vue';

export default {
    namespaced: true,
    name: 'StartGame',
    components: {
        LoadingSpinner
    },
    data() {
        return {
            minPlayersToStart: 2,
            errors: {}
        }
    },
    computed: {
        ...mapGetters({
            game: 'game/getGame',
            hasGame: 'game/hasGame',
            currentUser: 'auth/getUser',
            hasError: 'game/hasError',
            error: 'game/error'
        }),
        isHost() {
            return this.game.hostID === this.currentUser.id;
        },
        isMinPlayersCountReached() {
            return this.game.playersInGame >= this.minPlayersToStart;
        }
    },
    async created() {
        await this.fetchGame();

        this.$store.dispatch('loader/show', 'game_waitingForPlayers');

        if(!this.$socket.connected)
            this.$socket.connect();

        this.$socket.emit('joinRoom', `${this.$route.params.id}-playersWaitingInGame`);
    },
    beforeUnmount() {
        this.$socket.emit('leaveRoom', `${this.$route.params.id}-playersWaitingInGame`);

        this.$store.dispatch('loader/hide', 'game_waitingForPlayers');
    },
    sockets: {
        gameStarted() {
            this.$router.push({name: 'gameQuestion'});
        }
    },
    methods: {
        async fetchGame() {
            const response = await this.$store.dispatch('game/fetchGame', {
                gameID: this.$route.params.id,
                status: 'searching'
            });

            if(!response) {
                this.$router.push({name: 'games'});
            }
        },
        async handleStartGame() {
            await this.$store.dispatch('game/startGame', this.$route.params.id);

            if(this.hasError)
                this.errors.message = this.error.data.message;
        },
        async handleLeaveGame() {
            await this.$store.dispatch('game/leaveGame',  this.$route.params.id);

            this.$router.push({name: 'games'});
        }
    }
}
</script>
