<template>
    <footer class="footer bg-dark">
    </footer>
</template>

<script>
export default {
}
</script>

<style scoped>
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

</style>