<style scoped>
    .dropdown-menu li {
        position: relative;
    }
    .dropdown-menu .dropdown-submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -7px;
    }
    .dropdown-menu .dropdown-submenu-left {
        right: 100%;
        left: auto;
    }
    .dropdown-menu > div li:hover > .dropdown-submenu {
        display: block;
    }
</style>


<template>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <RouterLink to="/" class="navbar-brand mb-0 mx-2 text-light h1"><h1>Quiz</h1></RouterLink>
            <div class="container-fluid">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" v-if="isAuthenticated">
                    <li class="nav-item">
                        <RouterLink :to="{name:'trainings'}" class="nav-link">Training</RouterLink>
                    </li>

                    <li class="nav-item">
                        <RouterLink :to="{name:'tests'}" class="nav-link">Tests</RouterLink>
                    </li>

                    <li class="nav-item">
                        <RouterLink :to="{name:'games'}" class="nav-link">Games</RouterLink>
                    </li>
                </ul>

                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <button class="dropdown-toggle btn btn-light"

                            id="navbarDropdownMenuLinkRight"
                            data-bs-toggle="dropdown"
                            data-mdb-toggle="dropdown"  href="#"
                            data-mdb-dropdown-init
                            data-bs-dropdown-init
                            data-flip="false">
                            Mein Profil
                        </button>

                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkRight">
                            <div v-if="isAuthenticated">
                                <li @click="logout" class="dropdown-item">
                                    Logout
                                </li>

                                <li>
                                    <a class="dropdown-item">&laquo; Einstellungen</a>
                                    <ul class="dropdown-menu dropdown-submenu dropdown-submenu-left">
                                        <li>
                                            <RouterLink to="/user/changeAvatar" class="dropdown-item">Avatar bearbeiten</RouterLink>
                                        </li>
                                    </ul>
                                </li>
                            </div>

                            <div v-else>
                                <li>
                                    <RouterLink to="/login" class="dropdown-item">login</RouterLink>
                                </li>

                                <li>
                                    <RouterLink to="/signup" class="dropdown-item">Registrieren</RouterLink>
                                </li>
                            </div>

                        </ul>

                    </li>
                </ul>
            </div>
        </nav>
    </header>
</template>

<script>
export default {
    computed: {
        isAuthenticated() {
          return this.$store.getters["auth/isAuthenticated"]
        },
  },
    methods: {
        logout() {
            if(!this.isAuthenticated) {
                return;
            }
            this.$store.dispatch('auth/logout');
            this.$router.push({name: 'home'});
        }
    }
}
</script>
