<template>
    <div>
        <Header></Header>
        <router-view/>
        <Footer></Footer>
    </div>
    
</template>

<script>
    import Header from './views/layout/Header.vue';
    import Footer from './views/layout/Footer.vue';
    import { setupInterceptors } from './api/httpClient';
    
    export default {
        name: 'App',
        components: {
           Header,
           Footer
        },
        created() {
            setupInterceptors(this.$store, this.$router);
        }
    }
</script>