<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

</head>
<body>
    <main id="app">
    </main>
</body>
</html>